$ControlOpenHideAnimation: all cubic-bezier(0.06, 0.69, 0.45, 1) 0.5s;

.FinalPageContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: Microsoft JhengHei;
  z-index: 1000;
  // background-color: rebeccapurple;

  // 偵測手勢滑動
  .detectTouchMove {
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50000;
    opacity: 0;
    &.notActive {
      pointer-events: none;
    }
  }

  // THREE渲染區
  .threeCanvas {
    width: 100%;
    height: 100%;
    transition: $ControlOpenHideAnimation;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // opacity: 0;
    &.usrControlIsOpen {
      // filter: blur(4px);
      // transform: scale(1.1);
      pointer-events: none;
    }
  }

  // 最终显示的文字
  .finalText {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    color: #fff;
    // 正在显示第二页结果页
    &.second {
      .yourPlanetText {
        opacity: 0;
      }
      .year {
        opacity: 1;
      }
    }
    .yourPlanetText {
      position: absolute;
      top: 11%;
      left: 50%;
      transform: translate(-50%, 0);
      white-space: nowrap;
      text-align: center;
      opacity: 1;
      transition: all 1s;
    }
    .finalTextFirstPageBottom {
      position: absolute;
      top: 81%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #ffd9a9;
      white-space: nowrap;
      text-align: center;
      font-size: 0.9rem;
      &.hide {
        opacity: 0;
        pointer-events: none;
      }
      .sentence {
        &.first {
        }
        &.second {
        }
      }
    }
    .logo {
      position: absolute;
      bottom: 0%;
      left: 50%;
      transform: translate(-50%, 0);
      height: 1.4rem;
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      color: #ffffffad;
      div {
        display: inline-flex;
        white-space: nowrap;
        align-items: flex-end;
        img {
          height: 1rem;
          margin-left: 1rem;
        }
      }
    }
    .year {
      position: absolute;
      // top: 12%;
      top: 9%;
      left: 50%;
      transform: translate(-50%, 0);
      white-space: nowrap;
      text-align: center;
      opacity: 0;
      transition: all 1s;
      color: #ffd9a9;
    }
    .allPlanetText {
      position: absolute;
      bottom: 16%;
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 0;
      pointer-events: none;
      &.hide {
        opacity: 0;
      }
    }
    // 上滑提示
    .scrollTopText {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 1;
      transition: all 1s 1s;
      // 下三行讓這個始終隱藏
      transition: all 0.7s;
      opacity: 0;
      pointer-events: none;
      &.hide {
        transition: all 0.7s;
        opacity: 0;
        pointer-events: none;
      }
      .arrow {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50%;
        &.left {
          left: -100%;
          transform: translate(0, -50%) rotate(90deg);
        }
        &.right {
          right: -100%;
          transform: translate(0, -50%) rotate(90deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    // 下滑提示
    .scrollBottomText {
      position: absolute;
      top: 6%;
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 1;
      transition: all 1s 1s;
      // 下三行讓這個始終隱藏
      transition: all 0.7s;
      opacity: 0;
      pointer-events: none;
      &.hide {
        transition: all 0.7s;
        opacity: 0;
        pointer-events: none;
      }
      .arrow {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50%;
        &.left {
          left: -100%;
          transform: translate(0, -50%) rotate(-90deg);
        }
        &.right {
          right: -100%;
          transform: translate(0, -50%) rotate(-90deg);
        }
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  // 使用者自訂參數層
  .usrCustomizePlanetControls {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: $ControlOpenHideAnimation;
    background-color: rgba(255, 255, 255, 1);
    &.hide {
      pointer-events: none;
      opacity: 0;
    }

    // 當前使用者調整的參數
    .controlItem {
      transition: all 0.5s 0.6s;
      &.hide {
        transition: all 0.5s;
        opacity: 0;
        pointer-events: none;
      }

      // 星球大小
      &.planetSize {
        // 標題
        .title {
          position: absolute;
          // top: 100px;
          top: 68px;
          width: 100%;
          text-align: center;
          line-height: 30px;
          color: rgba(31, 31, 31, 7);
          .top {
          }
          .bottom {
            font-size: 24px;
            font-weight: bold;
            // color: rgb(255, 85, 106);
            // color: rgb(255, 85, 106);
            color: rgb(255, 142, 85);
          }
        }
        // 調整的標題
        .adjustTitle {
          position: absolute;
          // bottom: 50%;
          top: 169px;
          left: 0;
          transform: translateY(-50%);
          width: 100%;
          text-align: center;
          color: #808184;
        }
        // 調整桿欄位
        .adjustBar {
          width: 60%;
          // top: 65%;
          top: 82%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          height: 30px;
          // pointer-events: auto;
          // 加減號
          .increaseAndDecreaseIcon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            font-size: 100%;
            color: #b1b1b1;
            height: 100%;
            &.decrease {
              left: -25px;
            }
            &.increase {
              right: -25px;
            }
          }
          // 調整桿
          .adjustBarSelfDiv {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            input {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;

              // 樣式測試 (將桿子變成灰點點線)
              -webkit-appearance: none;
              border-top: 1px dotted #b1b1b1;
              height: 1px;

              // 樣式測試 (改變滑動桿上的符號)
              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 40px;
                height: 40px;
                border: none;
                // background: #4CAF50;
                background: url("../../images/ScrollBarPlanetSize.svg");
                background-size: 100% 100%;
                cursor: pointer;
              }
            }
          }
        }
      }

      // 星球色調
      &.planetTone {
        // 標題
        .title {
          position: absolute;
          top: 68px;
          width: 100%;
          text-align: center;
          line-height: 30px;
          color: rgba(31, 31, 31, 7);
          .top {
          }
          .bottom {
            font-size: 24px;
            font-weight: bold;
            // color: rgb(255, 85, 106);
            color: rgb(255, 190, 46);
          }
        }
        // 調整的標題
        .adjustTitle {
          position: absolute;
          // bottom: 50%;
          top: 169px;
          left: 0;
          transform: translateY(-50%);
          width: 100%;
          text-align: center;
          color: #808184;
        }
        // 調整桿欄位
        .adjustBar {
          width: 60%;
          // top: 65%;
          top: 82%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          height: 30px;
          // pointer-events: auto;
          // 加減號
          .increaseAndDecreaseIcon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            font-size: 100%;
            color: #b1b1b1;
            height: 100%;
            &.decrease {
              left: -25px;
            }
            &.increase {
              right: -25px;
            }
          }
          // 調整桿
          .adjustBarSelfDiv {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            input {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;

              // 樣式測試 (將桿子變成灰點點線)
              -webkit-appearance: none;
              border-top: 1px dotted #b1b1b1;
              height: 1px;

              // 樣式測試 (改變滑動桿上的符號)
              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 40px;
                height: 40px;
                border: none;
                // background: #4CAF50;
                background: url("../../images/ScrollBarPlanetTone.svg");
                background-size: 100% 100%;
                cursor: pointer;
              }
            }
          }
        }
      }

      // 山密度
      &.mountainDensity {
        // 標題
        .title {
          position: absolute;
          top: 68px;
          width: 100%;
          text-align: center;
          line-height: 30px;
          color: rgba(31, 31, 31, 7);
          .top {
          }
          .bottom {
            font-size: 24px;
            font-weight: bold;
            // color: rgb(255, 85, 106);
            color: rgb(100, 226, 187);
          }
        }
        // 調整的標題
        .adjustTitle {
          position: absolute;
          // bottom: 50%;
          top: 169px;
          left: 0;
          transform: translateY(-50%);
          width: 100%;
          text-align: center;
          color: #808184;
        }
        // 調整桿欄位
        .adjustBar {
          width: 60%;
          // top: 65%;
          top: 82%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          height: 30px;
          // pointer-events: auto;
          // 加減號
          .increaseAndDecreaseIcon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            font-size: 100%;
            color: #b1b1b1;
            height: 100%;
            &.decrease {
              left: -25px;
            }
            &.increase {
              right: -25px;
            }
          }
          // 調整桿
          .adjustBarSelfDiv {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            input {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;
              direction: rtl;

              // 樣式測試 (將桿子變成灰點點線)
              -webkit-appearance: none;
              border-top: 1px dotted #b1b1b1;
              height: 1px;

              // 樣式測試 (改變滑動桿上的符號)
              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 40px;
                height: 40px;
                border: none;
                // background: #4CAF50;
                background: url("../../images/ScrollBarMountainDensity.svg");
                background-size: 100% 100%;
                cursor: pointer;
              }
            }
          }
        }
      }

      // 山高
      &.mountainHeight {
        // 標題
        .title {
          position: absolute;
          top: 68px;
          width: 100%;
          text-align: center;
          line-height: 30px;
          color: rgba(31, 31, 31, 7);
          .top {
          }
          .bottom {
            font-size: 24px;
            font-weight: bold;
            // color: rgb(255, 85, 106);
            color: rgb(72, 196, 239);
          }
        }
        // 調整的標題
        .adjustTitle {
          position: absolute;
          // bottom: 50%;
          top: 169px;
          left: 0;
          transform: translateY(-50%);
          width: 100%;
          text-align: center;
          color: #808184;
        }
        // 調整桿欄位
        .adjustBar {
          width: 60%;
          // top: 65%;
          top: 82%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          height: 30px;
          // pointer-events: auto;
          // 加減號
          .increaseAndDecreaseIcon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
            font-size: 100%;
            color: #b1b1b1;
            height: 100%;
            &.decrease {
              left: -25px;
            }
            &.increase {
              right: -25px;
            }
          }
          // 調整桿
          .adjustBarSelfDiv {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            input {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;

              // 樣式測試 (將桿子變成灰點點線)
              -webkit-appearance: none;
              border-top: 1px dotted #b1b1b1;
              height: 1px;

              // 樣式測試 (改變滑動桿上的符號)
              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 40px;
                height: 40px;
                border: none;
                // background: #4CAF50;
                background: url("../../images/ScrollBarMountainHeight.png");
                background-size: 100% 100%;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    // 確認/取消鈕
    .usrConfirmButtonContainer {
      position: absolute;
      left: 50%;
      bottom: 40px;
      transform: translateX(-50%);
      z-index: 2;
      white-space: nowrap;
      pointer-events: auto;
      &.usrControlIsHide {
        opacity: 0;
        pointer-events: none;
      }
      .button {
        display: inline-block;
        border: 0;
        letter-spacing: 1px;
        color: #808184;
        font-weight: 600;
        padding: 12px 30px;
        text-transform: uppercase;
        width: 150px;
        background: transparent;
        border-radius: 4px;
        font-family: Microsoft JhengHei;
        &.confirm {
          background: #fff;
          box-shadow: 0 3px 3px rgba(31, 31, 31, 0.1);
        }
      }
    }
  }

  // Debug用
  .debug {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    button {
      pointer-events: all;
    }
    input {
      pointer-events: all;
    }
    // 切換相機位置鈕
    .changeCameraPosition {
      position: absolute;
      top: 5%;
      left: 5%;
      button {
        white-space: nowrap;
      }
    }
    // 即時更新翠綠山密度、高度
    .updateGreenMountainGeo {
      border: 1px solid #000;
      position: absolute;
      top: 11%;
      left: 5%;
      .text {
      }
      .updateGreenMountainGeoDensity {
        transform: rotate(180deg);
        display: block;
      }
      .updateGreenMountainGeoHeight {
        display: block;
      }
    }
    .openCloseUsrCustomizePlanetControlsOpenClose {
      position: absolute;
      top: 8%;
      left: 5%;
      button {
        white-space: nowrap;
      }
    }
  }
}
